.cards {
    padding: 10rem 0;
    &__container {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem 3rem;
    }
}
