$colors: (
    white: #FFFFFF,
    grey: #D3D8E4,
    blue: #00B6DD,
    dark-blue: #081580,
    pink: #FF779A,
    yellow: #e8cb0e,
    green: #14d42e,
    purple: #460b73,
    black: #010101,
    beige: #FEEBD6,
    light-green: #CCD5AE,
    light-black: #2D3B40,
)
